<footer class="main-footer">
    @*<iframe
        allow="microphone;"
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/b524ad02-48f7-42b0-82e1-ce94ae39a001">
    </iframe>*@
    <div class="pull-right hidden-xs">
        <b>v</b> @ViewContext.Controller.GetType().Assembly.GetName().Version
    </div>
    <div class="text-center">
        <strong>&copy; @DateTime.Now.Year </strong> Gestão de Ministérios by <a target="_blank" href="#">KAS Tecnologias</a>
    </div>
   
</footer>
